[Unit]
Description="{{ app_name }}"

[Service]
User={{ app_user }}
Environment=POSTGRESQL_URL="{{ postgresql_url }}"
ExecStart=/usr/bin/python3.6 {{ python_app_location }}/app.py

[Install]
WantedBy=default.target
